html body {
    background-color: #73C1BE;
}
#menu.navbar-default .navbar-brand {
    color: rgb(119, 119, 119);
}
#menu.navbar-default {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}
#menu.navbar-default .navbar-nav>li>a {
    background-color: rgb(255, 255, 255);
    color: rgb(115, 193, 190);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    background-color: rgb(115, 193, 190);
    color: rgb(255, 255, 255);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    background-color: rgb(231, 231, 231);
    background-color: rgba(231, 231, 231, 0.43);
    color: rgb(115, 193, 190);
}
#menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
